:root {
  --black2: #212121;
  --black: #000000;
  --blue: #2196f3;
  --background: #2f303a;
  --main-white: #ffffff;
  --second-white: #f5f4fa;
  --silver: #757575;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  margin: 0;
}

.container {
  display: flex;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  align-items: center;
}

header {
  width: 1600px;
  height: 80px;
}
.Webstudio-header-blue {
  font-weight: bold;
  width: 145px;
  height: 31px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
  color: var(--blue);
  margin: 24px 0 25px 0;
}
.Webstudio-header {
  font-weight: bold;
  color: var(--black);
  width: 145px;
  font-weight: 700;
  height: 31px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
  margin: 24px 0 25px 0;
}

.main-header {
  width: 145px;
  height: 31px;
  padding: 24px 93px 25px 215px;
}

.header-list1 {
  display: flex;
  width: 254px;
  margin: 32px 0 32px 0;
  justify-content: space-between;
  line-height: 1.17rem;
  padding-left: 93px;
}

ul {
  list-style-type: none;
}

menu {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.nav1 {
  font-weight: 500;
  color: var(--black2);
  font-size: 14px;
  text-decoration: none;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.nav2 {
  font-weight: 500;
  font-size: 14px;
  width: 58px;
  color: var(--black2);
  text-decoration: none;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.nav3 {
  font-weight: 500;
  font-size: 14px;
  width: 51px;
  color: var(--black2);
  text-decoration: none;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-list2 {
  display: flex;
  padding-left: 371px;
  margin: 32px 387px 32px 0;
  justify-content: space-between;
  line-height: 1.17rem;
  padding-left: 371px;
  width: 295px;
}

.contact-mail {
  font-weight: 500;
  font-size: 14px;
  width: 135px;
  height: 16px;
  color: var(--silver);
  text-decoration: none;
}

.contact-phone {
  font-weight: 500;
  font-size: 14px;
  width: 110px;
  height: 16px;
  color: var(--silver);
  text-decoration: none;
}

.section1 {
  background-color: var(--background);
  width: 1600px;
  height: 600px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.box-hugetext {
  display: flex;
  width: 696px;
  height: 120px;
  text-align: center;
  margin: 200px 452px 30px 452px;
}
.hugetext {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white);
  color: var(--main-white);
  margin: auto;
}

.button-order {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: var(--main-white);
  background-color: var(--blue);
  border-style: none;
  border: 0;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 700px 200px 700px;
  width: 200px;
  height: 50px;
}

a:link {
  text-decoration: none;
}

/* ul {
  display: flex;
  flex-direction: row;
  width: 1170px;
  height: 101px;
  margin: 94px 215px 94px 215px;
} */

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--black2);
  width: 270px;
  text-align: left;
}

.box {
  color: var(--silver);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.3px;
  width: 270px;
  height: 75px;
}
.lorem-box {
  display: flex;
  flex-direction: row;
  width: 1170px;
  height: 101px;
  margin: 94px 215px 94px 215px;
}

.lorem {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
}

.list-lorem {
  width: calc((100% - 45px) / 4);
  padding: 15px;
}

.segments {
  display: flex;
  flex-direction: column;
  width: 1170px;
  height: 386px;
  margin: 94px 215px 94px 215px;
}

.segments-header {
  text-align: center;
  font-size: 36px;
  line-height: 1.17rem;
}

.segments-list {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.segments-photos {
  width: 370px;
  height: 294px;
  margin-right: 30px;
}

.our-team {
  background-color: var(--second-white);
}

.our-team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: Center;
}

.photos {
  background-color: var(--main-white);
  width: 270px;
  height: 368px;
}

.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: Center;
  color: var(--black2);
}

.job-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: Center;
  color: var(--silver);
}

.footer {
  background-color: var(--background);
  height: 252px;
  width: 1600px;
  flex-direction: column;
  padding-left: 215px;
}

.Webstudio-footer-blue {
  font-weight: bold;
  width: 145px;
  height: 31px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
  color: var(--blue);

  padding-left: 215px;
}

.Webstudio-footer-white {
  font-weight: bold;
  color: var(--main-white);
  width: 145px;
  font-weight: 700;
  height: 31px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
}

.footer-main-header {
  width: 145px;
  height: 31px;
  padding: 60px 1240px 0px 215px;
}

.footer-list {
  display: flex;
  margin: 20px 1139px 120px 0;
  justify-content: space-between;
  line-height: 1.17rem;
  width: 246px;
  height: 81px;
  flex-direction: column;
  padding-left: 215px;
}

.photos {
  border: 1px;
}

.address {
  width: 246px;
  height: 21px;
  color: var(--main-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  width: 100%;
}

.mail-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--silver);
  width: 231px;
  height: 21px;
}

.phone-footer {
  font-weight: 400;
  font-size: 14px;
  color: var(--silver);
  width: 231px;
  height: 21px;
}

.buttons {
  width: 121px;
  height: 38px;
  background-color: var(--second-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: Center;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.portfolio-all {
  width: 370px;
  height: 404px;
  background-color: var(--second-white);
}

.projects {
  width: 322px;
  height: 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.description {
  width: 322px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--silver);
}

.hover:hover,
.hover:focus {
  color: var(--blue);
  cursor: pointer;
}

.hover-button:hover,
.hover-button:focus {
  background-color: var(--blue);
  color: var(--main-white);
  cursor: pointer;
  border-radius: 4px;
}
