:root {
  --black2: #212121;
  --black: #000000;
  --blue: #2196f3;
  --background: #2f303a;
  --main-white: #ffffff;
  --second-white: #f5f4fa;
  --silver: #757575;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--black);
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

header {
  height: 80px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.Webstudio-header-blue {
  font-weight: bold;
  width: 145px;
  height: 31px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
  color: var(--blue);
  margin: 24px 0 25px 0;
  /* czy lepiej padding: 25px 0; */
}
.Webstudio-header {
  font-weight: bold;
  color: var(--black);
  width: 145px;
  font-weight: 700;
  height: 31px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
  margin: 24px 0 25px 0;
  /* i tu też padding czy lepiej? */
}

.main-header {
  width: 145px;
  height: 31px;
  margin: 24px 93px 25px 0px;
}

.header-list1 {
  display: flex;
  flex-direction: row;
  width: 254px;
  height: 16px;
  margin: 32px 371px 32px 0px;
  line-height: 1.17rem;
  gap: 46px;
}

ul {
  list-style-type: none;
}

menu {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 0;
}

.nav1 {
  font-weight: 500;
  color: var(--black2);
  font-size: 14px;
  text-decoration: none;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.nav2 {
  font-weight: 500;
  font-size: 14px;
  width: 58px;
  color: var(--black2);
  text-decoration: none;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.nav3 {
  font-weight: 500;
  font-size: 14px;
  width: 51px;
  color: var(--black2);
  text-decoration: none;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-list2 {
  display: flex;
  padding: 32px 0;
  line-height: 1.17rem;
  width: 295px;
  gap: 50px;
  flex-direction: row;
}

.contact-mail {
  font-weight: 500;
  font-size: 14px;
  width: 135px;
  height: 16px;
  color: var(--silver);
  text-decoration: none;
}

.contact-phone {
  font-weight: 500;
  font-size: 14px;
  width: 110px;
  height: 16px;
  color: var(--silver);
  text-decoration: none;
}

.section1 {
  background-color: var(--background);
  height: 600px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.box-hugetext {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 200px 0px 30px 0px;
  margin: 0;
}
.hugetext {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white);
  color: var(--main-white);
  margin: auto;
}

.button-place {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.button-order {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: var(--main-white);
  background-color: var(--blue);
  border-style: none;
  border: 0;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
}

a:link {
  text-decoration: none;
}

h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--black2);
  width: 270px;
  text-align: left;
}

.box {
  color: var(--silver);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.3px;
  width: 270px;
  height: 75px;
}
.lorem-box {
  flex-direction: row;
}

.lorem {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
}

.list-lorem {
  width: calc((100% - 45px) / 4);
  gap: 30px;
}

.segments {
  display: flex;
  flex-direction: column;
  padding: 94px 0;
}

.section {
  padding-top: 94px;
}

.segments-header {
  text-align: center;
  font-size: 36px;
  line-height: 1.17rem;
  padding-bottom: 50px;
  margin: 0;
  /* czy tu powinien być też margin:0? bo strona się rozjeżdza ale z drugiej strony powstaje 29.88+90 zamiast po prostu 90 u góry_ dodatkowo czy line-height jest konieczny?*/
}

.segments-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.segments-photos {
  width: 370px;
  height: 294px;
}

.our-team {
  background-color: var(--second-white);
  display: flex;
  flex-direction: column;
  padding: 94px 0;
}

.our-team-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  padding-bottom: 50px;
}

.our-team-photos {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 94px;
  margin: 0;
  padding: 0;
}
.photos {
  background-color: var(--main-white);
  width: 270px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border: 1px solid rgba(238, 238, 238, 1);
  height: 368px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: Center;
  color: var(--black2);
}

.job-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  text-align: Center;
  color: var(--silver);
}

.footer {
  background-color: var(--background);
  flex-direction: column;
  display: flex;
}

.section-footer {
  padding: 60px 0;
}

.Webstudio-footer-blue {
  font-weight: bold;
  width: 145px;
  height: 31px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
  color: var(--blue);
}

.Webstudio-footer-white {
  font-weight: bold;
  color: var(--main-white);
  width: 145px;
  font-weight: 700;
  height: 31px;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  text-decoration: none;
  line-height: 1.17;
}

.footer-list {
  display: flex;
  line-height: 1.17rem;
  flex-direction: column;
  padding: 0;
}

.photos {
  border: 1px;
}

.address {
  width: 246px;
  height: 21px;
  color: var(--main-white);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin: 0;
  padding-bottom: 9px;
}

.mail-footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--silver);

  padding-bottom: 9px;
}

.phone-footer {
  font-weight: 400;
  font-size: 14px;
  color: var(--silver);

  padding-bottom: 9px;
}

.main-sections-portfolio {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

/*czy to jest potrzebne? */

.main-section-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons {
  width: 121px;
  height: 38px;
  background-color: var(--second-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;

  /* dlaczego nie działa tu gap? */
}

.portfolio-all {
  width: 370px;
  height: 404px;
  background-color: var(--second-white);
  border: 1px solid rgba(238, 238, 238, 1);
}

.projects {
  width: 322px;
  height: 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  padding: 0 24px;
}

.description {
  width: 322px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--silver);
  padding: 0 24px;
}

.second-list-portfolio {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  padding: 0;
}
.main-portfolio {
  padding: 94px 0;
}

.hover:hover,
.hover:focus {
  color: var(--blue);
  cursor: pointer;
}

.hover-button:hover,
.hover-button:focus {
  background-color: var(--blue);
  color: var(--main-white);
  cursor: pointer;
  border-radius: 4px;
}
